@{
    ViewData["Title"] = @ViewData["DisplayName"];
}
<div class="d-flex flex-column align-items-center my-5">
    <img src="@ViewData["Avatar"]" style="width: 100px; height: 100px; border-radius: 999px; object-fit: cover" />
    <h6>@ViewData["Username"]</h6>
    <h2>@ViewData["DisplayName"]</h2>
</div>

