@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@model Login
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = "Login";
}

<h1>@Localizer["heading.login"]</h1>


<form asp-action="Login" class="mt-5 mb-5">
    <div class="mt-3">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="mt-3">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">@SharedLocalizer["btn.login"]</button>
    <a asp-action="Register" class="btn btn-link mt-3">@SharedLocalizer["btn.register"]</a>

</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}